<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080,height=1920">
    <title>AI Reel</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

<div id="canvas">

    <div id="header">
        <img id="logo" src="" alt="">
        <div id="website">shivpriyaonline.com</div>
    </div>

    <div id="content">

        <div id="title"></div>

        <div id="subtitle"></div>

    </div>

    <div id="footer">

        <div id="progress"></div>

    </div>

</div>

</body>
</html>